[submodule "lbcb-mapper/bioparser"]
	path = lbcb-mapper/bioparser
	url = https://github.com/rvaser/bioparser.git
[submodule "lbcb-mapper/lbcb-mapper/vendor"]
	path = lbcb-mapper/lbcb-mapper/vendor
	url = https://github.com/rvaser/bioparser
[submodule "lbcb-mapper/lbcb-mapper/vendor/bioparse"]
	path = lbcb-mapper/lbcb-mapper/vendor/bioparse
	url = https://github.com/rvaser/bioparser
[submodule "lbcb-mapper/lbcb-mapper/vendor/bioparser"]
	path = lbcb-mapper/lbcb-mapper/vendor/bioparser
	url = https://github.com/rvaser/bioparser
[submodule "vendor/bioparser"]
	path = vendor/bioparser
	url = https://github.com/rvaser/bioparser
